        <!-- COLLABORATEURS -->
  
        <div class="container">
            <div class="collab">
            <div class="chambrin">
              <div id="busicard">
                <div class="user">
                  <img src="/img/chambrin.jpg">
                </div>
                <h3>Alexandre Chambrin</h3>
                <ul class="info">
                  <li>Dev Web</li>
                    <span class="hrtop"></span>
                  <li>Designer</li>
                    <span class="hrtop"></span>
                  <li>3D</li>
                </ul>
                <ul class="contacts">
                  <a href="https://www.instagram.com/polylight_company/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a href="https://www.behance.net/alexandchambri1"><i class="fa-brands fa-behance" aria-hidden="true"></i></a>
                </ul>
                <div class="bfollow">
                  <a href="https://chambrin.dev/index.html">Voir son site</a>
                </div>
                <div class="content">
                  <p>Si vous avez besoin d'un site internet assez complexe je vous recommande Alexandre Chambrin.</p>
                </div>
              </div>
            </div>

            <div class="antoine">
              <div id="busicard">
                <div class="user">
                  <img src="/img/antoine.png">
                </div>
                <h3>Antoine Rambour</h3>
                <ul class="info">
                  <li>Monteur</li>
                    <span class="hrtop"></span>
                  <li>Caméraman</li>
                    <span class="hrtop"></span>
                  <li>Gestion réseaux</li>
                </ul>
                <ul class="contacts">
                  <a href="https://www.instagram.com/antoine.rambour/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a href="https://www.behance.net/antoinerambour1"><i class="fa-brands fa-behance" aria-hidden="true"></i></a>
                </ul>
                <div class="bfollow">
                  <a href="https://www.youtube.com/channel/UCWkj4GkBZslp9NXBi5tjorw">Voir son site</a>
                </div>
                <div class="content">
                  <p>Antoine Rambour propose des tournages vidéos ainsi que du montage vidéo.</p>
                </div>
              </div>
            </div>

          </div>
        </div>

    </div>