{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}

    <!-- ABOUTME -->
    <div class="aboutme">
        <h2>A propos</h2>
  
        <div class="myself">
          <div class="container">
{# PARCOURS #}
{% include "about/parcours.html.twig" %}

{# EXPERIENCES #}
{% include "about/experiences.html.twig" %}
  
{# COLLABORATEURS #}
{% include "about/collab.html.twig" %}

{% endblock %}
