        <!-- PARCOURS -->
  
        <div class="parcours">
            <h4>Mon parcours</h4>
            <p>J'ai d'abord fait une formation de Développeur et Intégrateur de Média Interactif sur 2 ans au FIM CCI Normandie à Saint-Lô. Puis j'ai continué avec une license Chef de Projet Web à la même école.</p>
          </div>

          <hr>