      <!-- COMPETENCES -->
      <div class="competences">
        <div class="container">
          <h2>Mes compétences</h2>
          <div class="compcontent">
  
            <!-- COMPETENCES WEBDESIGN -->
            <h4 class="col-lg-3 col-sm-5">Webdesign</h4>
            <hr class="col-lg-3">
            <div class="row compitems">
  
              <div class="col-lg-4 compitem">
                <div class="compimg">
                  <img src="/img/icones/photoshop.png" alt="icone de photoshop">
                </div>
                <div class="comptitle">
                  <p>Adobe Photoshop</p>
                </div>
              </div>
  
              <div class="col-lg-4 compitem">
                <div class="compimg">
                  <img src="/img/icones/illustrator.png" alt="icone de illustrator">
                </div>
                <div class="comptitle">
                  <p>Adobe Illustrator</p>
                </div>
              </div>
  
              <div class="col-lg-4 compitem">
                <div class="compimg">
                  <img src="/img/icones/xd.png" alt="icone de xd">
                </div>
                <div class="comptitle">
                  <p>Adobe xd</p>
                </div>
              </div>
  
              <div class="col-lg-4 compitem">
                <div class="compimg">
                  <img src="/img/icones/indesign.png" alt="icone de indesign">
                </div>
                <div class="comptitle">
                  <p>Adobe InDesign</p>
                </div>
              </div>
  
              <div class="col-lg-4 compitem">
                <div class="compimg">
                  <img src="/img/icones/after-effects.png" alt="icone de after-effects">
                </div>
                <div class="comptitle">
                  <p>Adobe After Effects</p>
                </div>
              </div>
  
              <div class="col-lg-4 compitem">
                <div class="compimg">
                  <img src="/img/icones/premiere-pro.png" alt="icone de premiere-pro">
                </div>
                <div class="comptitle">
                  <p>Adobe PremierePro</p>
                </div>
              </div>
            </div>
            <!-- COMPETENCES DEV -->
            <h4 class="col-lg-3 col-sm-5">Développement Web</h4>
            <hr class="col-lg-3">
            <div class="row compitems">
  
              <div class="col-lg-4 compitem">
                <div class="compimg">
                  <img src="/img/icones/html-5.png" alt="icone de photoshop">
                </div>
                <div class="comptitle">
                  <p>HTML</p>
                </div>
              </div>
  
              <div class="col-lg-4 compitem">
                <div class="compimg">
                  <img src="/img/icones/css-3.png" alt="icone de css-3">
                </div>
                <div class="comptitle">
                  <p>CSS</p>
                </div>
              </div>
  
              <div class="col-lg-4 compitem">
                <div class="compimg">
                  <img src="/img/icones/sass.png" alt="icone de sass">
                </div>
                <div class="comptitle">
                  <p>SASS</p>
                </div>
              </div>
  
              <div class="col-lg-4 compitem">
                <div class="compimg">
                  <img src="/img/icones/php.png" alt="icone de php">
                </div>
                <div class="comptitle">
                  <p>PHP</p>
                </div>
              </div>
  
              <div class="col-lg-4 compitem">
                <div class="compimg">
                  <img src="/img/icones/wordpress.png" alt="icone de wordpress">
                </div>
                <div class="comptitle">
                  <p>WordPress</p>
                </div>
              </div>
  
              <div class="col-lg-4 compitem">
                <div class="compimg">
                  <img src="/img/icones/symfony.png" alt="icone de symfony">
                </div>
                <div class="comptitle">
                  <p>Symfony</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>