    <!-- PRESENTATION -->
    <div class="presentation">
        <div class="container">
          <div class="row prescontent">
            <div class="col-lg-5 col-sm-10">
                <h1><span>Webdesigner</span><br>sur Cherbourg</h1>
                <hr>
                <p>Je m'appelle Noé Pupin, je suis étudiant dans le web et je me spécialise dans le webdesign.</p>
                <a href="{{ path('app_contact') }}" class="btn">Prendre contact</a>
              </div>
            <div class="col-lg-5 col-sm-10 presimg">
              <img src="/img/logo500x500.svg" alt="logo formant un N stylisé dans un cercle rouge">
            </div>
          </div>
        </div>
      </div>