<!-- FOOTER -->

<footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
    
        <!-- Instagram -->
        <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #ac2bac;"
            href="https://www.instagram.com/nathuz.noe/"
            role="button"
            ><i class="fab fa-instagram"></i
        ></a>
    
        <!-- Linkedin -->
        <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #0082ca;"
            href="https://fr.linkedin.com/in/noé-pupin-b035961ba"
            role="button"
            ><i class="fab fa-linkedin-in"></i
        ></a>
        <!-- Github -->
        <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #333333;"
            href="https://github.com/BloodyNatuz"
            role="button"
            ><i class="fab fa-github"></i
        ></a>

        <!-- Behance -->
        <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #1069FF;"
            href="https://www.behance.net/nathuz"
            role="button"
            ><i class="fa-brands fa-behance"></i
        ></a>

        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    
    <!-- Copyright -->
    <div class="text-center p-3">
        <p>©2022 Copyright: nathuz.fr | <a href="law.html">Mentions légales</a></p>
    </div>
</footer>